<h2>Movie</h2>
<ul>
  <li>Name: <%= @movie.name %></li>
  <li>Plot: <%= @movie.plot %></li>
  <li>Rating: <%= @movie.rating %></li>
  <%= button_to "Remove", remove_path(movie_id: @movie.id) %>
  <%= button_to "Vote Up", vote_up_path(rating: @movie.rating) %>
  <%= button_to "Vote Down", vote_down_path(rating: @movie.rating) %>


  <li>Actors:</li>
  <ul>
    <% @movie.actors.each do |actor|%>
    <li><%= actor.name %></li>
    <% end %>
  </ul>

</ul>
